@import url("https://lens-ui.netlify.app/style.css");
@import url("https://use.fontawesome.com/releases/v5.12.1/css/all.css");

.App{
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color : white;
}

.h-100{
  height : 100%;
}

.w-50{
  width: 50%;
}

.weather__wrapper{
  position: absolute;
  top : 2%;
  right : 1%;
}


